body{
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
}
.flexible-container{
    display: flex;
    }
.half-width{
    width: 50%;
    }
.half-width p{
    padding-bottom: 20px;
    }
h1{
    font-size: 50px;
    }
.najmul-rusu{
    border-left: 4px solid #e000a8;
    padding: 10px;
    }
.web-dev{
    color: #ffd000;
    }
.banner-m{
    margin-left: 10%;
    margin-top: 5%;
    text-align: justify;
    padding-right: 150px;
    }
.button{
    text-decoration: none;
    color: #ffffff;
    width: 700;
    background-color: #00abc2;
    padding: 10px 40px;
    border-radius: 5px;
}
.half-width img{
    width: 85%;
}

#help{
    text-align: center;
}
.web-help-img{
    width: 50%;
}
.box{
    margin-left: 10%;
    margin-right: 10%;
}
.three-box{
    width:33%;
    margin: 0% 1% 0% 1%;
    padding: 3%;
}
#box-one{
    background-color: #9dbcbc;
    border-radius: 10px;
    text-align: justify;
}
#box-two{
    background-color: #fff5bb;
    border-radius: 10px;
    text-align: justify;
}
#box-three{
    background-color: #b7b7b7;
    border-radius: 10px;
    text-align: justify;
}