body{
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
}
.flexible-container{
    display: flex;
    }
.half-width{
    width: 50%;
    }
.half-width p{
    padding-bottom: 20px;
    }
h1{
    font-size: 50px;
    }
.najmul-rusu{
    border-left: 4px solid #e000a8;
    padding: 10px;
    }
.web-dev{
    color: #ffd000;
    }
.banner-m{
    margin-left: 10%;
    margin-top: 5%;
    text-align: justify;
    padding-right: 150px;
    }
.button{
    text-decoration: none;
    color: #ffffff;
    width: 700;
    background-color: #00abc2;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.half-width img{
    width: 85%;
}

.title{
    text-align: center;
    margin-top: 5%;
}
.web-help-img{
    width: 50%;
}
.box{
    margin: 0% 10% 10% 10%;
}
.three-box{
    width:33%;
    margin: 0% 1% 0% 1%;
    padding: 3%;
}
#box-one{
    background-color: #9dbcbc;
    border-radius: 10px;
    text-align: justify;
}
#box-two{
    background-color: #fff5bb;
    border-radius: 10px;
    text-align: justify;
}
#box-three{
    background-color: #b7b7b7;
    border-radius: 10px;
    text-align: justify;
}
.sec-three{
    margin: 5% 5% 5% 10%;
}
.sec-three-half-wid{
    width: 50%;
    margin-right: 5%;
}
.sec-three-half-wid img{
    width: 95%;
}
footer{
    background-color: #242424;
    color: #ffffff;
    text-align: center;
    padding: 2% 0%;
}
.sec-three-half-wid p{
    padding-bottom: 20px;
}

.box h1, h3{
    text-align: center;
}
.box li{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
}
.price-button{
    margin-left: 15%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: 5%;
}
.form{
    margin: 0% 10% 5% 10%;
}